body {
    min-height: 100%;
    background-color: black !important;
    overflow: hidden;
}

.bgr-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.head {
    color: #84d3e4;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.card-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.card {
    width: 40vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-img-top {
    height: 40vh;
    object-fit: contain;
    background-color: black;
}


.card-body-top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 10vh;
    font-size: 24px;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 24px;
}

.card-body-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 16px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-inline-start: 40px;
}

.card-ul {
    display: flex;
    justify-content: center;
}

.list-answer {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.list-answer:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.bg-succes,
.bg-danger {
    color: white;
}

.d-none {
    display: none;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 50%;
    background-color: black;
    color: lightgoldenrodyellow;
    border-radius: 3px;
    border-color: 1px solid white;
    background-image: url(img/spacewalks.png);
    background-position: inherit;
    background-size: 40%;
    background-repeat: no-repeat;
}

.end-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: lightgoldenrodyellow;
    border-radius: 10px;
    border-color: 1px solid white;
    height: 100vh;
    width: 100%;
    background-image: url(img/eclipse.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trophy {
    width: 20%;
}

.head-end-screen {
    padding-top: 64px;
}

.end-screen-headline {
    font-size: 48px;
}

.end-screen-txt {
    font-size: 24px;
    padding: 32px;
}

.text-center {
    text-align: center;
}

.margin-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}